/**
 * Clearfix  mixin
 *
 * Usage:
 * .my-class {
 *   @include clearfix;
 * }
 *
 * Results in:
 * .my-class {
 *    &:after {
 *     content: " ";
 *     display: table;
 *     clear: both;
 *   }
 * }
 *
 */
/**
 * Font size mixin
 *
 * Converts pixel size to rems with pixel fallback.
 *
 * Requires the $base-font-size variable to be set for the project, this should be the body font size.
 *
 * Usage:
 * @include font-size(14);
 *
 * Results in (with a $base-font-size of 18):
 * font-size: 14px;
 * font-size: 0.77777778rem
 *
 */
/**
 * Media query mixin
 *
 * Sets min-width media queries at specified breakpoints
 *
 * Usage:
 * @include media-query(sm) {
 *   // content
 * }
 *
 * Results in:
 * @media min-width: 1200px {
 *   // content
 * }
 *
 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }
  *:before, *:after {
    box-sizing: border-box; }

html, body {
  height: 100%; }

html, input {
  font-size: 100%; }

body {
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  color: #686868;
  line-height: 1.5;
  background: white;
  text-align: center; }

h1, h2, h3, h4, h5 {
  line-height: 1.2; }

h2, h3, h4, h5 {
  color: #333; }

h2.highlight-heading {
  color: #006e93;
  text-transform: uppercase;
  font-weight: bold; }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  padding-right: 8px;
  padding-left: 8px; }
  .container:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 576px) {
    .container {
      padding-left: 16px;
      padding-right: 16px; } }
  @media (min-width: 1200px) {
    .container {
      padding-left: 40px;
      padding-right: 40px; } }

.row {
  margin-right: -8px;
  margin-left: -8px; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 576px) {
    .row {
      margin-right: -16px;
      margin-left: -16px; } }

.col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xxl, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12 {
  position: relative;
  min-height: 1px;
  padding-right: 8px;
  padding-left: 8px; }
  @media (min-width: 576px) {
    .col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xxl, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12 {
      padding-left: 16px;
      padding-right: 16px; } }

@media (min-width: 0) {
  .col-xs-1 {
    float: left;
    width: 8.3333333333%; }
  .col-xs-2 {
    float: left;
    width: 16.6666666667%; }
  .col-xs-3 {
    float: left;
    width: 25%; }
  .col-xs-4 {
    float: left;
    width: 33.3333333333%; }
  .col-xs-5 {
    float: left;
    width: 41.6666666667%; }
  .col-xs-6 {
    float: left;
    width: 50%; }
  .col-xs-7 {
    float: left;
    width: 58.3333333333%; }
  .col-xs-8 {
    float: left;
    width: 66.6666666667%; }
  .col-xs-9 {
    float: left;
    width: 75%; }
  .col-xs-10 {
    float: left;
    width: 83.3333333333%; }
  .col-xs-11 {
    float: left;
    width: 91.6666666667%; }
  .col-xs-12 {
    float: left;
    width: 100%; }
  .pull-xs-0 {
    right: auto; }
  .pull-xs-1 {
    right: 8.3333333333%; }
  .pull-xs-2 {
    right: 16.6666666667%; }
  .pull-xs-3 {
    right: 25%; }
  .pull-xs-4 {
    right: 33.3333333333%; }
  .pull-xs-5 {
    right: 41.6666666667%; }
  .pull-xs-6 {
    right: 50%; }
  .pull-xs-7 {
    right: 58.3333333333%; }
  .pull-xs-8 {
    right: 66.6666666667%; }
  .pull-xs-9 {
    right: 75%; }
  .pull-xs-10 {
    right: 83.3333333333%; }
  .pull-xs-11 {
    right: 91.6666666667%; }
  .pull-xs-12 {
    right: 100%; }
  .push-xs-0 {
    left: auto; }
  .push-xs-1 {
    left: 8.3333333333%; }
  .push-xs-2 {
    left: 16.6666666667%; }
  .push-xs-3 {
    left: 25%; }
  .push-xs-4 {
    left: 33.3333333333%; }
  .push-xs-5 {
    left: 41.6666666667%; }
  .push-xs-6 {
    left: 50%; }
  .push-xs-7 {
    left: 58.3333333333%; }
  .push-xs-8 {
    left: 66.6666666667%; }
  .push-xs-9 {
    left: 75%; }
  .push-xs-10 {
    left: 83.3333333333%; }
  .push-xs-11 {
    left: 91.6666666667%; }
  .push-xs-12 {
    left: 100%; }
  .offset-xs-1 {
    margin-left: 8.3333333333%; }
  .offset-xs-2 {
    margin-left: 16.6666666667%; }
  .offset-xs-3 {
    margin-left: 25%; }
  .offset-xs-4 {
    margin-left: 33.3333333333%; }
  .offset-xs-5 {
    margin-left: 41.6666666667%; }
  .offset-xs-6 {
    margin-left: 50%; }
  .offset-xs-7 {
    margin-left: 58.3333333333%; }
  .offset-xs-8 {
    margin-left: 66.6666666667%; }
  .offset-xs-9 {
    margin-left: 75%; }
  .offset-xs-10 {
    margin-left: 83.3333333333%; }
  .offset-xs-11 {
    margin-left: 91.6666666667%; } }

@media (min-width: 576px) {
  .col-sm-1 {
    float: left;
    width: 8.3333333333%; }
  .col-sm-2 {
    float: left;
    width: 16.6666666667%; }
  .col-sm-3 {
    float: left;
    width: 25%; }
  .col-sm-4 {
    float: left;
    width: 33.3333333333%; }
  .col-sm-5 {
    float: left;
    width: 41.6666666667%; }
  .col-sm-6 {
    float: left;
    width: 50%; }
  .col-sm-7 {
    float: left;
    width: 58.3333333333%; }
  .col-sm-8 {
    float: left;
    width: 66.6666666667%; }
  .col-sm-9 {
    float: left;
    width: 75%; }
  .col-sm-10 {
    float: left;
    width: 83.3333333333%; }
  .col-sm-11 {
    float: left;
    width: 91.6666666667%; }
  .col-sm-12 {
    float: left;
    width: 100%; }
  .pull-sm-0 {
    right: auto; }
  .pull-sm-1 {
    right: 8.3333333333%; }
  .pull-sm-2 {
    right: 16.6666666667%; }
  .pull-sm-3 {
    right: 25%; }
  .pull-sm-4 {
    right: 33.3333333333%; }
  .pull-sm-5 {
    right: 41.6666666667%; }
  .pull-sm-6 {
    right: 50%; }
  .pull-sm-7 {
    right: 58.3333333333%; }
  .pull-sm-8 {
    right: 66.6666666667%; }
  .pull-sm-9 {
    right: 75%; }
  .pull-sm-10 {
    right: 83.3333333333%; }
  .pull-sm-11 {
    right: 91.6666666667%; }
  .pull-sm-12 {
    right: 100%; }
  .push-sm-0 {
    left: auto; }
  .push-sm-1 {
    left: 8.3333333333%; }
  .push-sm-2 {
    left: 16.6666666667%; }
  .push-sm-3 {
    left: 25%; }
  .push-sm-4 {
    left: 33.3333333333%; }
  .push-sm-5 {
    left: 41.6666666667%; }
  .push-sm-6 {
    left: 50%; }
  .push-sm-7 {
    left: 58.3333333333%; }
  .push-sm-8 {
    left: 66.6666666667%; }
  .push-sm-9 {
    left: 75%; }
  .push-sm-10 {
    left: 83.3333333333%; }
  .push-sm-11 {
    left: 91.6666666667%; }
  .push-sm-12 {
    left: 100%; }
  .offset-sm-0 {
    margin-left: 0%; }
  .offset-sm-1 {
    margin-left: 8.3333333333%; }
  .offset-sm-2 {
    margin-left: 16.6666666667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.3333333333%; }
  .offset-sm-5 {
    margin-left: 41.6666666667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.3333333333%; }
  .offset-sm-8 {
    margin-left: 66.6666666667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.3333333333%; }
  .offset-sm-11 {
    margin-left: 91.6666666667%; } }

@media (min-width: 768px) {
  .col-md-1 {
    float: left;
    width: 8.3333333333%; }
  .col-md-2 {
    float: left;
    width: 16.6666666667%; }
  .col-md-3 {
    float: left;
    width: 25%; }
  .col-md-4 {
    float: left;
    width: 33.3333333333%; }
  .col-md-5 {
    float: left;
    width: 41.6666666667%; }
  .col-md-6 {
    float: left;
    width: 50%; }
  .col-md-7 {
    float: left;
    width: 58.3333333333%; }
  .col-md-8 {
    float: left;
    width: 66.6666666667%; }
  .col-md-9 {
    float: left;
    width: 75%; }
  .col-md-10 {
    float: left;
    width: 83.3333333333%; }
  .col-md-11 {
    float: left;
    width: 91.6666666667%; }
  .col-md-12 {
    float: left;
    width: 100%; }
  .pull-md-0 {
    right: auto; }
  .pull-md-1 {
    right: 8.3333333333%; }
  .pull-md-2 {
    right: 16.6666666667%; }
  .pull-md-3 {
    right: 25%; }
  .pull-md-4 {
    right: 33.3333333333%; }
  .pull-md-5 {
    right: 41.6666666667%; }
  .pull-md-6 {
    right: 50%; }
  .pull-md-7 {
    right: 58.3333333333%; }
  .pull-md-8 {
    right: 66.6666666667%; }
  .pull-md-9 {
    right: 75%; }
  .pull-md-10 {
    right: 83.3333333333%; }
  .pull-md-11 {
    right: 91.6666666667%; }
  .pull-md-12 {
    right: 100%; }
  .push-md-0 {
    left: auto; }
  .push-md-1 {
    left: 8.3333333333%; }
  .push-md-2 {
    left: 16.6666666667%; }
  .push-md-3 {
    left: 25%; }
  .push-md-4 {
    left: 33.3333333333%; }
  .push-md-5 {
    left: 41.6666666667%; }
  .push-md-6 {
    left: 50%; }
  .push-md-7 {
    left: 58.3333333333%; }
  .push-md-8 {
    left: 66.6666666667%; }
  .push-md-9 {
    left: 75%; }
  .push-md-10 {
    left: 83.3333333333%; }
  .push-md-11 {
    left: 91.6666666667%; }
  .push-md-12 {
    left: 100%; }
  .offset-md-0 {
    margin-left: 0%; }
  .offset-md-1 {
    margin-left: 8.3333333333%; }
  .offset-md-2 {
    margin-left: 16.6666666667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.3333333333%; }
  .offset-md-5 {
    margin-left: 41.6666666667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.3333333333%; }
  .offset-md-8 {
    margin-left: 66.6666666667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.3333333333%; }
  .offset-md-11 {
    margin-left: 91.6666666667%; } }

@media (min-width: 1025px) {
  .col-lg-1 {
    float: left;
    width: 8.3333333333%; }
  .col-lg-2 {
    float: left;
    width: 16.6666666667%; }
  .col-lg-3 {
    float: left;
    width: 25%; }
  .col-lg-4 {
    float: left;
    width: 33.3333333333%; }
  .col-lg-5 {
    float: left;
    width: 41.6666666667%; }
  .col-lg-6 {
    float: left;
    width: 50%; }
  .col-lg-7 {
    float: left;
    width: 58.3333333333%; }
  .col-lg-8 {
    float: left;
    width: 66.6666666667%; }
  .col-lg-9 {
    float: left;
    width: 75%; }
  .col-lg-10 {
    float: left;
    width: 83.3333333333%; }
  .col-lg-11 {
    float: left;
    width: 91.6666666667%; }
  .col-lg-12 {
    float: left;
    width: 100%; }
  .pull-lg-0 {
    right: auto; }
  .pull-lg-1 {
    right: 8.3333333333%; }
  .pull-lg-2 {
    right: 16.6666666667%; }
  .pull-lg-3 {
    right: 25%; }
  .pull-lg-4 {
    right: 33.3333333333%; }
  .pull-lg-5 {
    right: 41.6666666667%; }
  .pull-lg-6 {
    right: 50%; }
  .pull-lg-7 {
    right: 58.3333333333%; }
  .pull-lg-8 {
    right: 66.6666666667%; }
  .pull-lg-9 {
    right: 75%; }
  .pull-lg-10 {
    right: 83.3333333333%; }
  .pull-lg-11 {
    right: 91.6666666667%; }
  .pull-lg-12 {
    right: 100%; }
  .push-lg-0 {
    left: auto; }
  .push-lg-1 {
    left: 8.3333333333%; }
  .push-lg-2 {
    left: 16.6666666667%; }
  .push-lg-3 {
    left: 25%; }
  .push-lg-4 {
    left: 33.3333333333%; }
  .push-lg-5 {
    left: 41.6666666667%; }
  .push-lg-6 {
    left: 50%; }
  .push-lg-7 {
    left: 58.3333333333%; }
  .push-lg-8 {
    left: 66.6666666667%; }
  .push-lg-9 {
    left: 75%; }
  .push-lg-10 {
    left: 83.3333333333%; }
  .push-lg-11 {
    left: 91.6666666667%; }
  .push-lg-12 {
    left: 100%; }
  .offset-lg-0 {
    margin-left: 0%; }
  .offset-lg-1 {
    margin-left: 8.3333333333%; }
  .offset-lg-2 {
    margin-left: 16.6666666667%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .offset-lg-4 {
    margin-left: 33.3333333333%; }
  .offset-lg-5 {
    margin-left: 41.6666666667%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .offset-lg-7 {
    margin-left: 58.3333333333%; }
  .offset-lg-8 {
    margin-left: 66.6666666667%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .offset-lg-10 {
    margin-left: 83.3333333333%; }
  .offset-lg-11 {
    margin-left: 91.6666666667%; } }

@media (min-width: 1200px) {
  .col-xl-1 {
    float: left;
    width: 8.3333333333%; }
  .col-xl-2 {
    float: left;
    width: 16.6666666667%; }
  .col-xl-3 {
    float: left;
    width: 25%; }
  .col-xl-4 {
    float: left;
    width: 33.3333333333%; }
  .col-xl-5 {
    float: left;
    width: 41.6666666667%; }
  .col-xl-6 {
    float: left;
    width: 50%; }
  .col-xl-7 {
    float: left;
    width: 58.3333333333%; }
  .col-xl-8 {
    float: left;
    width: 66.6666666667%; }
  .col-xl-9 {
    float: left;
    width: 75%; }
  .col-xl-10 {
    float: left;
    width: 83.3333333333%; }
  .col-xl-11 {
    float: left;
    width: 91.6666666667%; }
  .col-xl-12 {
    float: left;
    width: 100%; }
  .pull-xl-0 {
    right: auto; }
  .pull-xl-1 {
    right: 8.3333333333%; }
  .pull-xl-2 {
    right: 16.6666666667%; }
  .pull-xl-3 {
    right: 25%; }
  .pull-xl-4 {
    right: 33.3333333333%; }
  .pull-xl-5 {
    right: 41.6666666667%; }
  .pull-xl-6 {
    right: 50%; }
  .pull-xl-7 {
    right: 58.3333333333%; }
  .pull-xl-8 {
    right: 66.6666666667%; }
  .pull-xl-9 {
    right: 75%; }
  .pull-xl-10 {
    right: 83.3333333333%; }
  .pull-xl-11 {
    right: 91.6666666667%; }
  .pull-xl-12 {
    right: 100%; }
  .push-xl-0 {
    left: auto; }
  .push-xl-1 {
    left: 8.3333333333%; }
  .push-xl-2 {
    left: 16.6666666667%; }
  .push-xl-3 {
    left: 25%; }
  .push-xl-4 {
    left: 33.3333333333%; }
  .push-xl-5 {
    left: 41.6666666667%; }
  .push-xl-6 {
    left: 50%; }
  .push-xl-7 {
    left: 58.3333333333%; }
  .push-xl-8 {
    left: 66.6666666667%; }
  .push-xl-9 {
    left: 75%; }
  .push-xl-10 {
    left: 83.3333333333%; }
  .push-xl-11 {
    left: 91.6666666667%; }
  .push-xl-12 {
    left: 100%; }
  .offset-xl-0 {
    margin-left: 0%; }
  .offset-xl-1 {
    margin-left: 8.3333333333%; }
  .offset-xl-2 {
    margin-left: 16.6666666667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.3333333333%; }
  .offset-xl-5 {
    margin-left: 41.6666666667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.3333333333%; }
  .offset-xl-8 {
    margin-left: 66.6666666667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.3333333333%; }
  .offset-xl-11 {
    margin-left: 91.6666666667%; } }

@media (min-width: 1400px) {
  .col-xxl-1 {
    float: left;
    width: 8.3333333333%; }
  .col-xxl-2 {
    float: left;
    width: 16.6666666667%; }
  .col-xxl-3 {
    float: left;
    width: 25%; }
  .col-xxl-4 {
    float: left;
    width: 33.3333333333%; }
  .col-xxl-5 {
    float: left;
    width: 41.6666666667%; }
  .col-xxl-6 {
    float: left;
    width: 50%; }
  .col-xxl-7 {
    float: left;
    width: 58.3333333333%; }
  .col-xxl-8 {
    float: left;
    width: 66.6666666667%; }
  .col-xxl-9 {
    float: left;
    width: 75%; }
  .col-xxl-10 {
    float: left;
    width: 83.3333333333%; }
  .col-xxl-11 {
    float: left;
    width: 91.6666666667%; }
  .col-xxl-12 {
    float: left;
    width: 100%; }
  .pull-xxl-0 {
    right: auto; }
  .pull-xxl-1 {
    right: 8.3333333333%; }
  .pull-xxl-2 {
    right: 16.6666666667%; }
  .pull-xxl-3 {
    right: 25%; }
  .pull-xxl-4 {
    right: 33.3333333333%; }
  .pull-xxl-5 {
    right: 41.6666666667%; }
  .pull-xxl-6 {
    right: 50%; }
  .pull-xxl-7 {
    right: 58.3333333333%; }
  .pull-xxl-8 {
    right: 66.6666666667%; }
  .pull-xxl-9 {
    right: 75%; }
  .pull-xxl-10 {
    right: 83.3333333333%; }
  .pull-xxl-11 {
    right: 91.6666666667%; }
  .pull-xxl-12 {
    right: 100%; }
  .push-xxl-0 {
    left: auto; }
  .push-xxl-1 {
    left: 8.3333333333%; }
  .push-xxl-2 {
    left: 16.6666666667%; }
  .push-xxl-3 {
    left: 25%; }
  .push-xxl-4 {
    left: 33.3333333333%; }
  .push-xxl-5 {
    left: 41.6666666667%; }
  .push-xxl-6 {
    left: 50%; }
  .push-xxl-7 {
    left: 58.3333333333%; }
  .push-xxl-8 {
    left: 66.6666666667%; }
  .push-xxl-9 {
    left: 75%; }
  .push-xxl-10 {
    left: 83.3333333333%; }
  .push-xxl-11 {
    left: 91.6666666667%; }
  .push-xxl-12 {
    left: 100%; }
  .offset-xxl-0 {
    margin-left: 0%; }
  .offset-xxl-1 {
    margin-left: 8.3333333333%; }
  .offset-xxl-2 {
    margin-left: 16.6666666667%; }
  .offset-xxl-3 {
    margin-left: 25%; }
  .offset-xxl-4 {
    margin-left: 33.3333333333%; }
  .offset-xxl-5 {
    margin-left: 41.6666666667%; }
  .offset-xxl-6 {
    margin-left: 50%; }
  .offset-xxl-7 {
    margin-left: 58.3333333333%; }
  .offset-xxl-8 {
    margin-left: 66.6666666667%; }
  .offset-xxl-9 {
    margin-left: 75%; }
  .offset-xxl-10 {
    margin-left: 83.3333333333%; }
  .offset-xxl-11 {
    margin-left: 91.6666666667%; } }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.btn-primary {
  display: inline-block;
  color: #006e93;
  background: none;
  -webkit-appearance: none;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #006e93;
  text-decoration: none;
  padding: 12px 16px; }
  .btn-primary:hover, .btn-primary:focus {
    color: #FFF;
    background: #006e93; }

.btn-small {
  font-size: 12px;
  font-size: 0.75rem;
  padding: 4px 8px;
  border-width: 1px; }

@media (min-width: 768px) {
  .btn-primary {
    font-size: 24px;
    font-size: 1.5rem; }
  .btn-small {
    font-size: 12px;
    font-size: 0.75rem; } }

.faqs {
  position: relative;
  margin-bottom: 40px; }

.faqs__item {
  width: 100%;
  transition: opacity 0.3s ease;
  overflow: hidden;
  padding: 0 16px; }

.faqs__heading {
  position: relative;
  z-index: 1;
  background: none;
  border: none;
  border-bottom: 1px solid #333;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  font-size: 16px;
  font-size: 1rem;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  padding: 16px 8px;
  cursor: pointer;
  transition: background 0.3s ease; }
  .faqs__heading:hover, .faqs__heading:focus {
    background: #939393;
    color: #FFF; }

.faqs__sub-heading {
  display: none; }

.faqs__content {
  display: block;
  width: 100%;
  padding: 0 16px; }
  .faqs__content ol, .faqs__content ul {
    list-style: initial;
    list-style-position: inside;
    margin-bottom: 24px; }
  .faqs__content li {
    margin-bottom: 8px; }
  .faqs__content a {
    color: #686868;
    font-weight: bold; }
    .faqs__content a:hover, .faqs__content a:focus {
      text-decoration: none; }
  .js .faqs__content {
    height: 0;
    transition: opacity 0.3s ease;
    opacity: 0; }

.faqs__close-btn {
  visibility: hidden; }
  .active .faqs__close-btn {
    visibility: visible; }

.js .faqs__content {
  height: 0;
  transition: opacity 0.3s ease;
  opacity: 0; }

.js .active .faqs__content {
  opacity: 1;
  height: auto;
  padding: 8px 16px; }

@media (min-width: 768px) {
  .faqs__content {
    padding: 0 10%; } }

@media (min-width: 1025px) {
  .js .faqs {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .js .faqs__item {
    width: 14.2857142857%;
    padding: 0; }
    .js .faqs__item:first-child .faqs__heading {
      border-left: 1px solid #333; }
  .js .open .faqs__item {
    opacity: 0;
    width: 0; }
    .js .open .faqs__item.active {
      opacity: 1;
      width: 100%;
      position: static;
      z-index: 9999; }
  .js .faqs__heading {
    border-right: 1px solid #333;
    border-bottom: none;
    padding: 24px 16px; }
  .js .open .faqs__heading {
    display: none; }
  .js .faqs__content {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    border-right: 1px solid #333;
    border-left: 1px solid #333;
    height: auto;
    opacity: 0; }
  .js .active .faqs__content {
    padding: 0 15% 8px 15%;
    position: static; }
  .js .faqs__sub-heading {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 24px; } }

.footer {
  background: #19262F;
  color: #FFF;
  padding-top: 24px;
  padding-bottom: 24px; }
  .footer h2 {
    font-weight: bold;
    color: #FFF;
    margin-bottom: 8px; }
  .footer p {
    font-size: 12px;
    font-size: 0.75rem; }
  .footer a {
    color: #FFF; }

@media (min-width: 768px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px; }
    .footer h2 {
      margin-bottom: 16px; } }

.site-header {
  background: #3F3F3F;
  color: #FFF;
  text-align: center;
  padding: 8px 0 16px 0; }

.site-header__inner {
  position: relative;
  padding-top: 48px; }

.site-header__logo {
  width: 104px;
  height: 38px;
  position: absolute;
  top: 0;
  left: 0; }
  .site-header__logo svg {
    width: 100%;
    height: 100%; }

.site-header__heading {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold; }

.site-header__sub-heading {
  text-transform: uppercase;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: bold; }

@media (min-width: 576px) {
  .site-header {
    padding: 16px 0; }
  .site-header__logo {
    width: 120px; } }

@media (min-width: 768px) {
  .site-header {
    padding: 24px 0 32px 0; }
  .site-header__inner {
    padding-top: 56px; }
  .site-header__heading {
    font-size: 40px;
    font-size: 2.5rem;
    margin-bottom: 8px; }
  .site-header__sub-heading {
    font-size: 16px;
    font-size: 1rem; } }

@media (min-width: 1025px) {
  .site-header__inner {
    padding-top: 80px; }
  .site-header__logo {
    width: 174px;
    height: 64px; }
  .site-header__sub-heading {
    font-size: 24px;
    font-size: 1.5rem; } }

.main-content {
  padding-top: 24px; }
  .main-content h2 {
    margin-bottom: 16px;
    font-weight: bold; }
  .main-content p {
    margin-bottom: 16px; }

.main-content__divider {
  width: 80%;
  height: 1px;
  border-bottom: 1px solid #C1C1C1;
  margin: 0 auto 16px auto; }

@media (min-width: 576px) {
  .main-content {
    padding-top: 32px; }
    .main-content h2 {
      font-size: 24px;
      font-size: 1.5rem;
      font-weight: normal; }
    .main-content h2.highlight-heading {
      font-weight: bold; }
    .main-content h2, .main-content p {
      margin-bottom: 24px; }
  .main-content__divider {
    margin-bottom: 40px; } }

@media (min-width: 1025px) {
  .main-content {
    padding-top: 40px; }
  .main-content__divider {
    margin-bottom: 48px; } }

.nav {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1; }

.nav__link {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: bold;
  margin-left: 12px; }
  .nav__link:hover, .nav__link:focus, .nav__link.nav__link--active {
    color: #11c3ff; }

@media (min-width: 768px) {
  .nav__link {
    font-size: 16px;
    font-size: 1rem; } }

.programme__item {
  background: #939393;
  margin: 0 0 8px 0;
  position: relative; }
  .programme__item.active .programme__heading {
    opacity: 0; }
  .programme__item.active .programme__content {
    opacity: 1;
    z-index: 1; }

.programme__heading, .programme__content {
  display: block;
  transition: opacity 0.3s ease; }

.programme__heading {
  padding: 16px;
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
  color: #FFF;
  background: none;
  border: none;
  -webkit-appearance: none; }
  .js .programme__heading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

.programme__content {
  background: #006e93;
  padding: 12px;
  color: #FFF;
  font-size: 12px;
  font-size: 0.75rem;
  height: 100%;
  position: relative;
  min-height: 64px; }
  .js .programme__content {
    z-index: -1;
    opacity: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .programme__content p {
    margin-bottom: 4px; }
  .programme__content a {
    visibility: hidden;
    color: #FFF; }
    .active .programme__content a {
      visibility: visible; }

@media (min-width: 576px) {
  .js .programme {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .programme__item {
    width: 48%;
    margin: 8px 1%; } }

@media (min-width: 1025px) {
  .programme__item {
    width: 23%; } }

.resources-container {
  background: #3F3F3F;
  margin: 8px 0 40px 0; }

.resources {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 16px 0; }

.resources__item {
  width: 50%;
  margin-bottom: 16px; }

.resources__link {
  display: block;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  margin: 8px;
  font-weight: bold;
  line-height: 1.2; }
  .resources__link svg {
    width: 40px;
    height: 40px;
    margin-bottom: 4px;
    fill: white; }
  .resources__link:hover, .resources__link:focus {
    color: #11c3ff; }

.resources__text {
  display: block; }

@media (min-width: 576px) {
  .resources {
    padding: 56px 0 32px 0; }
  .resources__item {
    width: 25%;
    margin-bottom: 32px; }
  .resources__link svg {
    width: 48px;
    height: 48px; } }

.skip-link {
  position: absolute;
  left: -99999px;
  color: #FFF;
  font-size: 12px;
  font-size: 0.75rem; }
  .skip-link:focus {
    left: 0;
    top: -24px; }

.themes {
  margin-bottom: 16px; }

.themes__link {
  background: #006e93;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  color: #FFF;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  line-height: 1.2;
  text-transform: uppercase; }
  .themes__link svg {
    width: 60px;
    height: 60px;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    margin-right: 16px;
    fill: white; }
  .themes__link:hover, .themes__link:focus {
    opacity: 0.8; }

.themes__link--safeguard {
  background: #3c7d24; }

.themes__link--leave-no-one {
  background: #9e559b; }

.themes__link--ending-need {
  background: #985b00; }

.themes__link--invest {
  background: #c8450d; }

@media (min-width: 576px) {
  .themes {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .themes__item {
    width: 50%; } }

@media (min-width: 768px) {
  .themes {
    margin-bottom: 40px; }
  .themes__item {
    width: 20%; }
  .themes__link {
    display: block;
    text-align: center;
    font-size: 12px;
    font-size: 0.75rem; }
    .themes__link svg {
      display: block;
      margin: 0 auto 12px auto; } }

@media (min-width: 1025px) {
  .themes__link {
    font-size: 16px;
    font-size: 1rem;
    padding: 24px 16px; }
    .themes__link svg {
      width: 80px;
      height: 80px;
      margin-bottom: 16px; } }
