<footer role="contentinfo" class="container footer">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2>Contact Information</h2>
      <p>Copyright © WHS 2016. All rights reserved. This material comes to you via World Humanitarian Summit ( WHS ), which is an initiative of the United Nations Secretary General. The options extressed do not necessarily reflect those of the United Nations or its Member States. The boundaries, names, designations used on maps on this site and links to the external site do not imply offcial endorsement or acceptance by the UN. Contact us: <a href="mailto:info@whsummit.org">info@whsummit.org</a></p>
    </div>
  </div>
</footer>
