<header role="banner" class="site-header">
  <div class="container">
    <div class="site-header__inner">
      <a href="#main" class="skip-link">Skip to content</a>

      <a href="{{ site.baseurl }}/" class="site-header__logo">
        <svg aria-hidden="true"><use xlink:href="{{ "/assets/icons/symbol-defs.svg#icon-whs-logo" | prepend: site.baseurl }}"></use></svg>
        <span class="sr-only">World Humanitarian Summit home page</span>
      </a>
      <nav role="navigation" class="nav">
        <a href="./" class="nav__link {% if page.url == "/" %} nav__link--active{% endif %}">Summit</a>
        <a href="./resources.html" class="nav__link {% if page.url == "/resources.html" %} nav__link--active{% endif %}">Resources</a>
      </nav>

      <h1 class="site-header__heading">World Humanitarian Summit</h1>
      <p class="site-header__sub-heading">23-24 May 2016, Istanbul, Turkey</p>
    </div>
  </div>
</header>
