$body-text-color: #686868;
$heading-text-color: #000;
$light-text-color: #FFF;

$header-highlight-text: #11c3ff; // only use on dark

$dark-grey: #3F3F3F;
$blue: #00B2EF; //009cd0 - pass for large
$green: #52AD32;
$purple: #AE67AB;
$orange: #FFA113;
$red: #E54E0F;

$light-grey: #C1C1C1;
