* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  &:before, &:after {
    box-sizing: border-box;
  }
}

html, body {
  height: 100%;
}

html, input {
  // Font size should be set at the correct percentage to match the base-font-size
  // 16px = 100%
  // 18px = 112.5%
  // See http://pxtoem.com/ for conversion chart
  font-size: 100%;
}

body {
  font-family: $body-font;
  @include font-size($base-font-size);
  color: $body-text-color;
  line-height: 1.5;
  background: white;
  text-align: center;
}

h1, h2 ,h3 ,h4 ,h5 {
  line-height: 1.2;
}

h2 ,h3 ,h4 ,h5 {
  color: $heading-text-color;
}

h2.highlight-heading {
  font-family: $heading-font;
  color: $blue;
  text-transform: uppercase;
  font-weight: bold;
}
